html,body{
    height: 100%;
}
body{
    background: #333;
    font-size:62.5%;
}
h1, h2, h3, h4, h5, h6, p, ul, ol { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: inherit; }
ul, ol { list-style-type: none; }
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
play-.container{
    padding: 0px;
    position: relative;
}
.cont{
    padding: 0;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    float: none;
    overflow: hidden;
}
#player{
    color:#9b9b9b;
}
.pic{
    width: 198px;
    height: 198px;
    margin-top: 8px;
    position: relative;
}
.pic img{
    width: 130px;
    height: 130px;
    margin: 32px;
    border-radius:50%;
}
.pic .cir,.control .icon{
    background: url(/img/music.png) no-repeat;
}
.pic .cir{
    display: block;
    width: 196px;
    height: 196px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: -3px -619px;
    z-index: -5;
    border-radius:50%;
}
.tag{
    text-align: center;
}
.song-name{
    color:#e8e8e8;
    font-size: 1.5rem;
    margin: 0px;
}
.art-name{
    font-size: 1rem;
}
.lrc{
    overflow: hidden;
}
.lyric_wrap{
    position: relative;
    top: 50%;
    text-align: center;
}
.lyric_wrap .on{
    color: #fff;
}
.process{
    position: relative;
    font-size: 1rem;
}
.process .probg,.process .rdy,.process .cur{
    background: url(/img/statbar.png) no-repeat;
}
.process span{
    position: absolute;
    top: 10px;
}
.process .curTime{
    left: 0.8rem;
}
.process .tolTime{
    right: 0.8rem;
}
.process .probg{
    position: absolute;
    top: 13px;
    left: 15%;
    width: 70%;
    height: 9px;
    background-position: right 0;
}
.process .rdy{
    position: absolute;
    height: 9px;
    background-position: right -30px;
}
.process .cur {
    position: absolute;
    height: 9px;
    background-position: left -66px;
}
.process .pro-handle{
    background: #fff;
    position: absolute;
    opacity: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition:opacuty 0.3s;
}
.process .pro-handle:active{
    opacity:1;
}
.control{
    margin-top: 25px;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
    -webkit-justify-content: center;
}
.mode .icon-loop{
    background-position: -3px -342px;
}
.mode .icon-loop:active{
    background-position: -33px -342px;
}
.mode .icon-single{
    background-position: -66px -342px;
}
.mode .icon-single:active{
    background-position: -93px -342px;
}
.mode .icon-shuffle{
    background-position: -66px -246px;
}
.mode .icon-shuffle:active{
    background-position: -93px -246px;
}
.control .icon {
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    margin-top: 5px;
}
.control .btns .prev {
    background-position: 0 -130px;
}
.control .btns .prev:active {
    background-position: -30px -130px;
}
.control .btns .ply {
    width: 36px;
    height: 36px;
    margin-top: 0;
    background-position: 0 -204px;
}
.control .btns .pause {
    background-position: 0 -165px;
}

.control .btns .ply:active {
    background-position: -40px -204px;
}
.control .btns .pause:active {
    background-position: -40px -165px;
}
.control .btns .next {
    background-position: -80px -130px;
}
.control .btns .next:active {
    background-position: -110px -130px;
}
.list .icon-list{
    background-position: -42px -69px;
}
.list .icon-list:active{
    background-position: -42px -99px;
}
.list .icon{
    width: 25px;
    height: 24px;
}
.volume .icon{
    width: 25px;
    height: 25px;
    margin: 11px 2px 0 0;
    background-position: -2px -248px;
}


@media (max-width: 319px) {
    .lrc{
    height: 150px;
    }
    .songlist{
        width: 100%;
    }
    #wrapper{
        height: 100px;
    }
}
@media (min-width: 320px) {
    .lrc{
    height: 150px;
    }
    .songlist{
        width: 100%;
    }
    #wrapper{
        height: 200px;
    }
}
@media (min-width: 375px) {
    .lrc{
    height: 250px;
    }
}
@media (min-width: 414px) {
    .lrc{
    height: 280px;
    }
}
@media (min-width: 770px) {
    .lrc{
    height: 300px;
    }
    .process .curTime{
        left: 25%;
    }
    .process .tolTime{
        right: 25%;
    }
    .process .probg{
        left: 30%;
        width: 40%;
    }
    .mode .icon-loop:hover{
        background-position: -33px -342px;
    }
    .mode .icon-single:hover{
    background-position: -93px -342px;
    }
    .mode .icon-shuffle:hover{
        background-position: -93px -246px;
    }
    .control .btns .prev:hover {
        background-position: -30px -130px;
    }
    .control .btns .next:hover {
        background-position: -110px -130px;
    }       
    .control .btns .ply:hover {
        background-position: -40px -204px;
    }
    .control .btns .pause:hover {
        background-position: -40px -165px;
    }
    .list .icon-list:hover{
        background-position: -42px -99px;
    }
    .process .pro-handle:hover{
        opacity: 1;
    }
    .songlist .react:hover{
        background-color: #BBBCC0;
    }
}
.songlist{
    position: absolute;
    bottom: 0px;
    background-color: #CFCFCF;
    color: #2C2219;
    font-size: 1.5rem;
    visibility:hidden;
}
.songlist p{
    text-align: center;
}
.songlist .songcont{
    margin-left: 10px;
}
.songtol{
    border-bottom: 1px solid #BCBCBC;
}
.clolist{
    border-top: 1px solid #BCBCBC;
}
.songlist .react,.songlist p{
    height: 30px;
    line-height: 30px;
}
.songlist .list-art-name{
    font-size: 1rem;
    color: #9b9b9b;
}
.playcur .list-art-name{
    color: inherit;
}
.songlist .list-art-name::before{
    content: '-\20';
}
.songlist .react{
    border-bottom:1px solid #BCBCBC;
}
.songlist .react:active{
    background-color: #BBBCC0;  
}
.songcont .playcur{
    color: #D42D22;
}
.playcur div{
    display: inline-block;
    height: 14px;
    width: 16px;
    background: url(/img/music.png) no-repeat 0 -820px;
    margin-right: 6px;
}
#wrapper{
    overflow: hidden;
    z-index: 5;
}
@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px); 
        transform: translateY(100px)
    }
    100% {
        opacity: 0.9;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        opacity: 0.9;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInUpBig {
    visibility: visible;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeOutDownBig {
    0% {
        opacity: 0.9;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100px); 
        transform: translateY(100px);
    }
}

@keyframes fadeOutDownBig {
    0% {
        opacity: 0.9;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
    }
}
.fadeOutDownBig {
    visibility: visible;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: fadeOutDownBig;
    animation-name: fadeOutDownBig;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.pic .playing {
    animation: rotatelogo 10s linear infinite;
    /* Firefox: */
    -moz-animation: rotatelogo 10s linear infinite;
    /* Safari 和 Chrome: */
    -webkit-animation: rotatelogo 10s linear infinite;
    /* Opera: */
    -o-animation: rotatelogo 10s linear infinite;
}
@keyframes rotatelogo {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes rotatelogo {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}
.pic .pause{
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari 和 Chrome */
}