body{
    background: #333;
    font-size:62.5%;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.cont{
    margin: 0 auto;
    float: none;
}
.pic{
    width: 198px;
    height: 198px;
    margin-top: 40px;
    position: relative;
}
.pic img{
    width: 130px;
    height: 130px;
    margin: 32px;
    border-radius:50%;
}
.pic .cir,.control .icon{
    background: url(/img/music.png) no-repeat;
}
.pic .cir{
    display: block;
    width: 196px;
    height: 196px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: -3px -619px;
    z-index: -5;
    border-radius:50%;
}
.tag{
    text-align: center;
    margin-top: 10px;
}
.song-name{
    color:#e8e8e8;
    font-size: 1.5rem;
    margin: 0px;
}
.art-name{
    color:#9b9b9b;
}
.control{
    margin: 20px 0 10px;
    display: flex;
    justify-content: center;
}
.mode .icon-loop{
    background-position: -3px -342px;
}

.mode .icon-loop:active{
    background-position: -33px -342px;
}
.control .icon {
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    margin-top: 5px;
}
.control .btns .prv {
    background-position: 0 -130px;
}
.control .btns .prv:active {
    background-position: -30px -130px;
}
.control .btns .ply {
    width: 36px;
    height: 36px;
    margin-top: 0;
    background-position: 0 -204px;
}
.control .btns .ply:active {
    background-position: -40px -204px;
}
.control .btns .next {
    background-position: -80px -130px;
}
.control .btns .next:active {
    background-position: -110px -130px;
}
.list .icon-list{
    background-position: -42px -69px;
}
.list .icon-list:active{
    background-position: -42px -99px;
}
.list .icon{
    width: 25px;
    height: 24px;
}
.volume .icon{
    width: 25px;
    height: 25px;
    margin: 11px 2px 0 0;
    background-position: -2px -248px;
}


@media (min-height: 568px) {
    .lrc{
    height: 180px;
    }
}
@media (min-height: 667px) {
    .lrc{
    height: 250px;
    }
}
@media (min-height: 763px) {
    .lrc{
    height: 280px;
    }
    .mode .icon-loop:hover{
        background-position: -33px -342px;
    }
    .control .btns .prv:hover {
        background-position: -30px -130px;
    }
    .control .btns .next:hover {
        background-position: -110px -130px;
    }       
    .control .btns .ply:hover {
        background-position: -40px -204px;
    }
    .list .icon-list:hover{
        background-position: -42px -99px;
    }
}