link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
script.
    var _hmt = _hmt || [];
    (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?2334e921077280e40e2b0931857c56a0";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
    })();