doctype html
<!--[if lt IE 9]><html><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
head
    meta(charset="UTF-8")
    title 张建平的个人简历-前端开发
    meta(name="keywords",content="张建平,前端开发,工程师,简历,实习,求职,frontend,resume")
    meta(name="description",content="张建平的个人简历")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="format-detection",content="telephone=no")
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if (gte IE 9)|!(IE)]><!-->
    link(rel="stylesheet",media="not print",href="/css/Resume.css")
    link(rel="stylesheet",media="print",href="/css/Resume_print.css")
    link(rel="stylesheet",href="/css/font.css")
    <!--<![endif]-->
body
    <!--[if lt IE 9]>
    #lt-IE9
        img(src="/img/resume_QRCode.jpg" alt="在线简历二维码")
        p 请升级浏览器后浏览或者扫描屏幕二维码
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    header#header
        .boundary.clear
            img#myPic(src="/img/me.jpg" alt="My Picture")
            address
                ul#contact
                    li#name.contact_item 张建平-web前端
                    li#phone.contact_item(style="display:none")
                        i.fa.fa-mobile-phone.fa-fw
                    li#email.contact_item
                        i.fa.fa-envelope.fa-fw
                    li.contact_item
                        a(href="http://zhangjanp.cn",target="_blank")
                            i.fa.fa-home.fa-fw
                            | Home
                    li#github.contact_item
                        a(href="https://github.com/Z-Janp",target="_blank")
                            i.fa.fa-github.fa-fw
                            | GitHub
    #main
        section#skill.section
            .boundary.clear
                header.section_header
                    h3.section_header_title 专业技能
                #skill_body.section_body
                    ul.skill_list.clear
        section#learn.section
            .boundary.clear
                header.section_header
                    h3.section_header_title 学习经历
                .section_body
                    .learn_list
                        .learn_list_point
                            .learn_list_point_ico
                            | 2017/6
                        section.learn_list_unit
                            header.learn_list_unit_header
                                h4.learn_list_unit_name
                                    a(href="http://www.zhku.edu.cn/"  target="_blank") 仲恺农业工程学院
                                p.learn_list_unit_job 大学本科
                            .learn_list_unit_body
                                ul.list
                                    li 2013-2014学年度校二等奖学金
                                    li 2015年10月获第24届广东省“粤嵌高校杯”软件作品设计大赛(本科组)三等奖
                        .learn_list_point
                            .learn_list_point_ico
                            | 2016/9
                        section.learn_list_unit
                            header.learn_list_unit_header
                                h4.learn_list_unit_name
                                    a 广州聚多网络科技有限公司
                                p.learn_list_unit_job web前端实习生
                            .learn_list_unit_body
                                p 参与快速构建高质量移动app页面，基于gulp进行页面重构，使用svn进行代码管理。
                        .learn_list_point
                            .learn_list_point_ico
                            | 2016/8
        section#work.section
            .boundary.clear
                header.section_header
                    h3.section_header_title 项目经验
                #work_body.section_body
                    section.project.clear
                        .project_intro
                            header.project_intro_header
                                h4.project_title h5音乐播放器
                                p.project_time 2016.8
                            p 兼容移动端的h5音乐播放器，实现的功能：
                            ul.list 
                                li 播放器的基础操作:上/下一曲，播放/暂停，播放模式，时间轴定位
                                li 同步歌词
                            p.project_link
                                a(href="http://zhangjanp.cn/music" target="_blank")
                                    i.fa.fa-link
                                    | 项目地址
                        div.project_img
                            img(src="/img/project_player.jpg" alt="h5音乐播放器")
                    section.project.clear
                        .project_intro
                            header.project_intro_header
                                h4.project_title 个人博客
                                p.project_time 2016.7-2016.8
                            p 基于Express框架开发的单用户博客系统，采用非关系型数据库MongoDB实现存档，session记录用户登录状态，采用Markdown语法即时预览文章内容。通过此次开发，认识到项目架构的重要性，了解了Nodejs应用开发流程，以及git版本管理工具的使用。
                            p.project_link
                                a(href="http://zhangjanp.cn" target="_blank")
                                    i.fa.fa-link
                                    | 项目地址
                        div.project_img
                            img(src="/img/project_blog.jpg" alt="个人博客")
                    section.project.clear
                        .project_intro
                            header.project_intro_header
                                h4.project_title 禽类食品安全追溯系统前台页面
                                p.project_time 2015.8-2015.10
                            p 第一次参与实战开发，整个项目用于禽类产业链食品安全全程溯源，在这个团队里面，我与另外3名成员进行合作负责前端开发。作为第一个项目，主要问题是团队协作以及开发经验不足的问题。由于web性能、版本控制意识的缺乏，导致前端页面笨重。通过这个项目，领会了团队协作的重要性。
                        div.project_img
                            img(src="/img/project_suyuan.png" alt="禽类食品安全追溯系统前台页面")
    footer#footer
    .boundary.clear
        #footer_QRCode
            img(src="/img/resume_QRCode.jpg" alt="在线简历二维码")
            p.QRCode_text
                a(href="/resume") 扫描二维码查阅简历
    script(src="/js/resume.js")
    script(src="//hm.baidu.com/hm.js?2334e921077280e40e2b0931857c56a0")
    <!--<![endif]-->
</html>