doctype html
<!--[if lt IE 9]><html><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
head
    meta(charset="UTF-8")
    title 张建平的个人简历-前端开发
    meta(name="keywords",content="张建平,前端开发,工程师,简历,实习,求职,frontend,resume")
    meta(name="description",content="张建平的个人简历")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="format-detection",content="telephone=no")
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--[if (gte IE 9)|!(IE)]><!-->
    link(rel="stylesheet",media="not print",href="/css/Resume.css")
    link(rel="stylesheet",media="print",href="/css/Resume_print.css")
    link(rel="stylesheet",href="/css/font.css")
    <!--<![endif]-->
body
    <!--[if lt IE 9]>
    #lt-IE9
        img(src="/img/resume_QRCode.jpg" alt="在线简历二维码")
        p 请升级浏览器后浏览或者扫描屏幕二维码
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    header#header
        .boundary.clear
            img#myPic(src="/img/me.jpg" alt="My Picture")
            address
                ul#contact
                    li#name.contact_item 张建平-web前端
                    li#phone.contact_item(style="display:none")
                        i.fa.fa-mobile-phone.fa-fw
                    li#email.contact_item
                        i.fa.fa-envelope.fa-fw
                    li.contact_item
                        a(href="http://zhangjanp.cn",target="_blank")
                            i.fa.fa-home.fa-fw
                            | Home
                    li#github.contact_item
                        a(href="https://github.com/Z-Janp",target="_blank")
                            i.fa.fa-github.fa-fw
                            | GitHub
    #main
        section#skill.section
            .boundary.clear
                header.section_header
                    h3.section_header_title 专业技能
                #skill_body.section_body
                    ul.skill_list.clear
        section#learn.section
            .boundary.clear
                header.section_header
                    h3.section_header_title 学习经历
                .section_body
                    .learn_list
                        .learn_list_point
                            .learn_list_point_ico
                            | 现在
                        section.learn_list_unit
                            header.learn_list_unit_header
                                a.learn_list_unit_logo.clear
                                    img(src="/img/javascript.jpg", alt="JavaScript高级程序设计")
                                h4.learn_list_unit_name
                                    a(style="color: #5a5857") 巩固前端基础知识的同时学习了解前端新技术
                                p.learn_list_unit_job 学习扩展知识面
                            .learn_list_unit_body
                                p 学习熟悉JavaScript，学习了解JavaScript的原理，机制。
                                p 学习bootstrap等前端框架。
                                p 学习githup版本管理工具。
                        .learn_list_point
                            .learn_list_point_ico
                            | 2015/11
                        section.learn_list_unit
                            header.learn_list_unit_header
                                a.learn_list_unit_logo.clear
                                    img(src="/img/zk.jpg", alt="信息科学与技术学院实验室")
                                h4.learn_list_unit_name
                                    a(style="color: #1956A2") 信息科学与技术学院实验室
                                p.learn_list_unit_job 学员
                            .learn_list_unit_body
                                p 主要学习<strong>jQuery+ajax+json+C#</strong>数据交互，了解Ext.net+C#架构后台数据交互，期间了解了团体间如何合作。
                        .learn_list_point
                            .learn_list_point_ico
                            | 2015/7
                        section.learn_list_unit
                            header.learn_list_unit_header
                                a.learn_list_unit_logo.clear(href="http://www.zhku.edu.cn/"  target="_blank")
                                    img(src="/img/zhku.jpg", alt="仲恺农业工程学院")
                                h4.learn_list_unit_name
                                    a(style="color: #1956A2" href="http://www.zhku.edu.cn/"  target="_blank") 仲恺农业工程学院
                                p.learn_list_unit_job 信息科学与技术学院
                            .learn_list_unit_body
                                p 专业：通信工程(本科在读)
                                p 所获奖励：
                                ul.list
                                    li 2013-2014学年度校二等奖学金
                                    li 2015年10月获第24届广东省“粤嵌高校杯”软件作品设计大赛(本科组)三等奖
        section#work.section
            .boundary.clear
                header.section_header
                    h3.section_header_title 项目经验
                #work_body.section_body
                    section.project.clear
                        .project_intro
                            header.project_intro_header
                                h4.project_title h5音乐播放器
                                p.project_time 2016/8
                            p 兼容移动端的h5播放器，实现的功能：
                            ul.list 
                                li 播放器的基础操作:上/下一曲，播放/暂停，播放模式，时间轴定位
                                li 同步歌词
                            p 学到的知识：
                            ol.list 
                                li 移动端实现hover效果
                                li iScroll插件的使用
                                li css3效果实践 
                            p.project_link
                                a(href="http://zhangjanp.cn/music" target="_blank")
                                    i.fa.fa-link
                                    | 项目地址
                        div.project_img
                            img(src="/img/project_player.jpg" alt="h5音乐播放器")
                    section.project.clear
                        .project_intro
                            header.project_intro_header
                                h4.project_title 个人博客
                                p.project_time 2016/7
                            p 基于Express框架开发的单用户博客系统，实现增删改查等基本功能，采用Markdown语法即时预览文章内容。通过此次开发，学习了解了bootstrap前端框架,Jade模板引擎，以及git版本管理工具的使用。
                            p.project_link
                                a(href="http://zhangjanp.cn" target="_blank")
                                    i.fa.fa-link
                                    | 项目地址
                        div.project_img
                            img(src="/img/project_blog.jpg" alt="个人博客")
                    section.project.clear
                        .project_intro
                            header.project_intro_header
                                h4.project_title 禽类食品安全追溯系统前台页面
                                p.project_time 2015/8至2015/10
                            p 此次实践的收获主要在于学习团队合作，代码冲突如何解决，也点燃了对开发的热情。
                        div.project_img
                            img(src="/img/project_suyuan.png" alt="禽类食品安全追溯系统前台页面")
    footer#footer
    .boundary.clear
        #footer_QRCode
            img(src="/img/resume_QRCode.jpg" alt="在线简历二维码")
            p.QRCode_text
                a(href="/resume") 扫描二维码查阅简历
    script(src="/js/resume.js")
    <!--<![endif]-->
</html>